<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Shivani Computers/IdeaProjects/RestAssured">
        <classes>
            <class name="tests.CrudWithBDD"></class>
            <class name="tests.DifferentWaysToPostRequest"></class>
            <class name="tests.SerializationAndDeSerialization"></class>
        </classes>
    </test>
</suite>